/*Estilos por defecto*/

*{
    margin:0px;
    padding:0px;
    box-sizing:0px;

    font-family: 'Anton', sans-serif;
    font-family: 'Comfortaa', cursive;
    scroll-behavior: smooth;
}

/*Header*/

.header{
    width:100%;
    height:4rem;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    box-shadow: 1px 1px 20px 1px #ccc;
}

.listas{
    display: flex;
    justify-content: center;
    align-items: center;

    gap:1rem ;
}

.listas a{
    color:black;
    text-decoration: none;
}

.listas button{
    width:10rem;
    height:2rem;
    
    border:none;
    background: none;
}

.listas button:hover{    
    border:1px solid orange;
    
    background:none;
    
    color:orange;
}

.listas a:hover{    
    color:orange;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;

    gap:1rem ;
}

.redes a{
    color:black;
    text-decoration: none;
}

.redes a:hover{    
    color:orange;
}


/*Home*/

.home{
    width:100%;
    height:calc(100vh - 4rem);
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.presentacion{
    width:50%;
    height:100%;
    
    display: flex;
    justify-content: center;
    flex-direction: column;

    gap:1rem;
}

.presentacion p{
    font-size: 20px;

    color:orange;
}

.foto{
    width:50%;
    height:100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.foto img:hover{
    width: 55%;
    height: 55%;

    transition: 1000ms;
}

.foto img{
    width: 50%;
    height: 50%;

    border-radius: 100%;
}

.presentacion a{
    width: 20%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    gap:1rem;

    text-decoration: none;
}

.logo{
    display: none;
}

/*Responcive desing*/

@media (max-width: 860px) {

    .header{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .listas{
      display: none;
    }

    .redes{
        width: 30%;
    }

    .logo{
        width: 70%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 370px) {
    .redes{
        display: none;
    }

    .logo{
        width: 100%;
        height: 100%;

        display: flex;
        justify-content: center;
        align-items: center;
    }
}
